<!doctype html>
<html lang="en">
<head>
<style>

</style>
</head>
<body>
    |
</body>
</html>
@@@
moveTo: {"pos":"8:0"}
type: {"text":"\t<h1>My primary heading</h1>"}
moveTo: {"pos":"8:1"}
run: {"command":"delCharBefore"}
type: {"text":"  "}
moveTo: {"pos":"8:29"}
type: {"text":"\n"}
moveTo: {"pos":"9:4"}
run: {"command":"delCharBefore","times":"4"}
type: {"text":"  <h2>My secondary heading</h2>"}
type: {"text":"\n  <p>My main content of text. This is a paragraph so it will wrap appropriatel"}
run: {"command":"delCharBefore"}
type: {"text":"ly<."}
run: {"command":"delCharBefore"}
type: {"text":"/o"}
run: {"command":"delCharBefore"}
type: {"text":"p>"}
moveTo: {"pos":"10:79"}
type: {"text":" At some point. But I don't know exactly when that will be."}
moveTo: {"pos":"4:0"}
type: {"text":"\th1,h2{\n\t  font-family:Georgia;\n\t  }"}
moveTo: {"pos":"6:3"}
run: {"command":"delCharBefore","times":"3"}
type: {"text":"\t"}
moveTo: {"pos":"6:2"}
type: {"text":"\n  h2:"}
run: {"command":"delCharBefore"}
type: {"text":"{\n\t\n\t}"}
moveTo: {"pos":"9:1"}
run: {"command":"delCharBefore"}
type: {"text":"  "}
moveTo: {"pos":"8:1"}
type: {"text":"text-transform:uppercase;"}
type: {"text":"\n\tfont-size:1em;"}
type: {"text":"\n\tfont-"}
run: {"command":"delCharBefore","times":"5"}
type: {"text":"color:#f2f2f2"}
run: {"command":"delCharBefore","times":"6"}
type: {"text":"444"}
run: {"command":"delCharBefore","times":"3"}
type: {"text":"888;"}
moveTo: {"pos":"5:23"}
type: {"text":"\n\t  padding-bottom:5px;"}
moveTo: {"pos":"6:10"}
run: {"command":"delCharBefore","times":"7"}
type: {"text":"margin"}
moveTo: {"pos":"12:3"}
type: {"text":"\n  p{\n\t\n\t{"}
run: {"command":"delCharBefore"}
type: {"text":"}"}
moveTo: {"pos":"15:1"}
run: {"command":"delCharBefore"}
type: {"text":"  "}
moveTo: {"pos":"14:1"}
type: {"text":"text-indent: 50px"}
moveTo: {"pos":"14:14"}
type: {"text":"1"}
run: {"command":"delCharBefore"}
moveTo: {"pos":"14:15"}
run: {"command":"delCharBefore"}
moveTo: {"pos":"14:15"}
run: {"command":"delCharBefore"}
type: {"text":"5"}
run: {"command":"delCharBefore"}
moveTo: {"pos":"14:16"}
run: {"command":"delCharBefore","times":"16"}
type: {"text":"\tcolor:#AAA"}
run: {"command":"delCharBefore","times":"3"}
type: {"text":"444;\n\tfont-family:ar"}
run: {"command":"delCharBefore","times":"2"}
type: {"text":"Arial;\n\tline-height:1em"}
moveTo: {"pos":"16:14"}
type: {"text":".5"}
run: {"command":"delCharBefore","times":"3"}
type: {"text":"2"}
moveTo: {"pos":"16:16"}
type: {"text":";"}