<!-- param.assignment -->
<div class="activity">
<h3>{{include.activity.name}} <span class="lighter">(~{{include.activity.time}} minutes)</span></h3>
{{include.activity.description}}
{%if include.activity.attachments%}
	<div class="attachments">
	{%for attachment in include.activity.attachments %}
		{%if attachment.type == "link"%}
			<a class="btn" href="{%if attachment.location == "internal"%}{{site.baseurl}}/{%endif%}{{attachment.link}}" target="_blank"><i class="fa fa-eye"></i> View {{attachment.title}} </a></li>
		{%else%}
			<a class="btn" href="{{site.baseurl}}/files/{{attachment.link}}" target="_blank"><i class="fa fa-download"></i> Download {{attachment.title}} </a></li>
		{%endif%}
	{%endfor%}
	</div>
{%endif%}
{%if include.activity.results%}
	<div class="results">
		<h4>Activity Results <a class="hide_link" href="#">(Hide All Results)</a></h4>

		<p>{{include.activity.results.summary}}</p>
		{%if include.activity.results.documents%}
			<div data-collapsed="true" class="documents">
			{%for document in include.activity.results.documents%}
				<figure  class="document">
					<img  src="{%if document.location == "internal"%}{{site.baseurl}}/{%endif%}{{document.link}}"/>
					<figcaption>{{document.caption}}</figcaption>
				</figure>
			{%endfor%}
			</div>
		{%endif%}
	</div>
	{%if include.activity.results.meta%}
		<div class="analysis">
			<h4>Instructor Analysis <a class="hide_link" href="#">(Hide Instructor Analysis)</a></h4>

			<p>{{include.activity.results.meta}}</p>
		</div>
	{%endif%}
{%endif%}

</div>