<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ site.github.url }}/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ site.github.url }}/css/site.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ site.github.url }}/css/pygments.css" type="text/css" />
  <link media="only screen and (max-device-width: 480px)" href="{{ site.github.url }}/css/mobile.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="{{ site.github.url }}/css/mobile.css" type="text/css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <link rel="icon" href="{{site.baseurl}}/favicon.ico?v=2" type="image/x-icon">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="{{ site.github.url }}/js/application.js"></script>
  <script>
      $(document).ready(function(){
        $('.sidebar .scrollable').css('height','calc(100% - '+($('.sidebar').height() - $('.sidebar .scrollable').height())+'px - 20px)');
        $('.sidebar').css('height','100%');
      });
  </script>
</head>

<body>
  <section class="sidebar">

    <section class="name">
      <a href="{{site.baseurl}}/">
        <span id="fname">5 More Topics</span>
        <span id="lname">For Software Designers</span>
      </a>
    </section>

    <section class="meta">
      <a href="http://github.com/bsalinas/FiveMoreTopics" target="_blank"><i class="fa fa-github"></i></a>
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="mailto:benDOTsalinasATgmailDOTcom"><i class="fa fa-envelope"></i></a>
      <!-- <a href="{{site.baseurl}}/atom.xml"><i class="fa fa-rss"></i></a> -->
    </section>
    <hr class="full">
    <section class="sections scrollable">
      <ul>
        <li><a href="{{site.baseurl}}/index.html">updates</a></li>
        <li><a href="{{site.baseurl}}/overview.html">overview</a></li>
        <li><a href="{{site.baseurl}}/topics.html">the topics</a></li>
        <li><a href="{{site.baseurl}}/assignments.html">assignments</a></li>
      </ul>
      <hr>
        <ul class="topics_list">
        <li class="topic"><a href="{{site.baseurl}}/topics.html#process">process</a></li>
        {%assign last_topic = "process"%}
        {%for post in site.categories.classes reversed%}
          {%if last_topic != post.topic%}
           {%assign these_topics = site.data.topics | where:"id",post.topic%}
           {%for topic in these_topics%}
              </ul><ul class="topics_list">
              <li class="topic"><a href="{{site.baseurl}}/topics.html#{{topic.id}}">{{topic.short_name}}</a></li>
            {%endfor%}
            {%assign last_topic = post.topic%}
          {%endif%}
          {%if post.draft == true%}
            <li data-draft="true"><span class="lighter">{{post.date | date_to_string}}</span></li>
          {%else%}
            <li data-draft="false"><a href="{{site.baseurl}}{{post.url}}">{{post.date | date_to_string}}</a></li>
          {%endif%}
        {%endfor%}
      </ul>
    </section>
  </section>

  {{ content }}
  <footer>
  <p>Course Content licensed under Apache 2.0. Website built with <a href="http://jekyllrb.com">Jekyll</a> using <a href="http://zachholman.com/posts/left/">Left by Zach Holman</a></p>
  </footer>
</body>


</html>
