---
layout: layout
---

<section class="content week">
    {%assign these_topics = site.data.topics | where:"id",page.topic%}
    {%assign this_class_file = site.data.classes[page.week]%}
    {%assign last_class_file = site.data.classes[page.last_week]%}
    {%assign this_class = site.data[this_class_file]%}
    {%assign last_class = site.data[last_class_file]%}
  {%if page.wip%}
    <p class="wip"><i class="fa fa-exclamation-triangle"></i> This lesson is still a work in progress. It might change at any point.</p>
  {%endif%}
  <h1>
    <a href="{{site.baseurl}}{{ page.url }}">Week {{ page.week }} - {%for topic in these_topics%}{{topic.name}} {%endfor%}</a>
  </h1>
  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  <section class="description">
    <h2>Overview</h2>
    {{this_class.description}}
  </section>
  <section id="last_week">
    <h2>Assignments Due Today</h2>
    <ul class="assignments">
    {%for assignment in last_class.assignments%}
      {% include assignment.html assignment=assignment%}
    {%endfor%}
    </ul>
  </section>

  <section id="this_week">
    <h2>Class Activities</h2>
    {%for activity in this_class.activities%}
      {%include activity.html activity=activity%}
    {%endfor%}
  </section>


  <section id="next_week">
    <h2>Assignments Due Next Week</h2>
    <ul class="assignments">
    {%for assignment in this_class.assignments%}
      {% include assignment.html assignment=assignment%}
    {%endfor%}
    </ul>
  </section>
</section>

  <!-- {{ content }} -->